<header class="editor-header">    
    <a ui-sref="dashboard" class="header-logo">Blocks Edit</a>

    <ul class="options" ng-show="!editing">
        <li><a href="" id="mode" class="btn-edit start_editing" ng-click="edit()">Edit</a></li>
        <li><a href="" class="btn-icon export show-export" ng-click="export()">Export</a></li><!-- download content="content" name="title" -->
        <li><a href="" class="btn-icon link show-share">Share</a></li>
    </ul>
    <ul class="options" ng-show="editing">
        <li><a href="" id="mode" class="btn-main save_template" ng-click="save()">Save</a></li>
        <li><a href="" class="btn-icon remove cancel_changes" ng-click="cancel()">Cancel Changes</a></li>
    </ul>

    <div class="profile-toggle">
        <a href="" class="person">
            CK
        </a>
        <ul class="profileoptions">
            <li><a href="">My profile</a></li>
            <li><a href="">Log out</a></li>
        </ul>
    </div>
    <!--<ul class="options preview_options">
        <li><a href="#" id="mode" class="btn-edit start_editing">Edit</a></li>
        <li><a href="#" class="btn-icon export show-export" data-id="<?php echo $this->data->output['email']['ema_id']; ?>">Export</a></li>
        <li><a href="#" class="btn-icon link show-share" data-id="<?php echo $this->data->output['email']['ema_id']; ?>" data-link="<?php echo $this->data->uri; ?>/preview/<?php echo $this->data->output['email']['ema_token']; ?>">Share</a></li>
    </ul>
    <ul class="options editing_options">
        <li><a href="#" id="mode" class="btn-main save_template" data-id="<?php echo $this->data->output['email']['ema_id']; ?>">Save</a></li>
        <li><a href="#" class="btn-icon remove cancel_changes">Cancel Changes</a></li>
    </ul>

    <div class="profile-toggle">
        <a href="" class="person">
            CK
        </a>
        <ul class="profileoptions">
            <li><a href="">My profile</a></li>
            <li><a href="">Log out</a></li>
        </ul>
    </div>-->
</header>