<header id="global" class="editor-header">    
    <a ui-sref="dashboard" class="header-logo">Blocks Edit</a>
    <ul class="options" ng-show="!editing">
        <li><a href="" id="mode" class="btn-edit start_editing" ng-click="edit()">Edit</a></li>
        <li><a href="" class="btn-icon export show-export" ng-click="startExport()">Export</a></li><!-- download content="content" name="title" -->
        <li><a href="" class="btn-icon link show-share">Share</a></li>
    </ul>
    <ul class="options" ng-show="editing">
        <li><a href="" id="mode" class="btn-main save_template" ng-click="save()">Save</a></li>
        <li><a href="" class="btn-icon remove cancel_changes" ng-click="cancel()">Cancel Changes</a></li>
    </ul>
    <ng-include src="'/partials/profile-header-menu.html'"></ng-include>
</header>