<ng-include src="'/partials/login-header.html'"></ng-include>
<section class="container account">
    <form>
        <h1>Reset Password:</h1>
        <input type="password" name="password" ng-model="oldPassword" placeholder="Password" /><br/>
        <input type="password" name="password" ng-model="newPassword_1" placeholder="New Password" /><br/>
        <input type="password" name="password" ng-model="newPassword_2" placeholder="New Password (copy)" /><br/>
        <input type="submit" value="Submit" class="btn-main" ng-click="resetPassword()"/>
    </form>
</section>