<section class="container account">
    <form action="" method="post">
        <h1>Sign Up</h1>
        <input type="text" placeholder="Name" name="name" value=""/><br/>
        <input type="text" placeholder="Email address" name="email" value="" /><br/>
        <input type="password" placeholder="Password" name="pass" /><br/>
        <input type="text" placeholder="Job title (optional)" name="job" value="" /><br/>
        <input type="text" placeholder="Organization (optional)" name="organization" value="" /><br/>
        <input type="submit" value="Sign Up" class="btn-main"/><br/>
        <p class="signup_error"></p>
        <p class="signup">Already have an account? <a href="">Sign In</a></p>
    </form>
</section>
